# Dependency directories & Node.js Installer files
node_modules/**

# Environment variables file
.env

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Testing
coverage/

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.local
.env.development
.env.test
.env.production

# Visual Studio Code configuration
.vscode/
.code-workspace
.devcontainer/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Private info
private_files/**
config**
.env_production

# Backup files
bak/**

# Dist / Production directories 
/dist/